.author-form {
    width: 500px;
}

.author-form-field {
    display: block;
    margin-top: 10px;
}

.author-form-actions {
    display: flex;
    justify-content: space-between;
}

.author-slider-label {
    color: rgba(0,0,0,.42);
}

.author-slider {
    display: block;
}
